@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-poppin text-base font-medium text-gray-600  bg-white;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
}



